<template>
  <div class="dialog">
    <v-app id="inspire">
      <v-row>
        <v-col cols="auto">
          <v-dialog transition="dialog-top-transition" max-width="600">
            <template v-slot:activator="{ on, attrs }">
              <div v-bind="attrs" v-on="on">
                <v-row>
                  <v-col>
                    <v-card>
                      <v-card-title class="dialog__text">
                        Welcome to trello!
                      </v-card-title>
                      <hr />
                      <v-card-text>
                        Please, click here to details
                        <div class="btn-remove"></div>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <div class="btn-add-note"></div>
                </v-row>
              </div>
            </template>
            <template v-slot:default="dialog">
              <v-card>
                <v-toolbar color="primary" class="text-h4" dark
                >trello</v-toolbar
                >
                <v-card-text>
                  <div class="text-h5 pa-12">
                    trello is a site for keeping notes, storing and editing
                    them. This will help you write down important things, set
                    goals, and help you in your daily life.<br /><br />
                    <hr />
                    <br />
                    Click the "Add note" button to start using.
                  </div>
                </v-card-text>
                <v-card-actions class="justify-end">
                  <v-btn text @click="dialog.value = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </template>
          </v-dialog>
        </v-col>
      </v-row>
    </v-app>
  </div>
</template>

<script>
export default {
  name: "AboutDialog",

};
</script>

<style lang="scss" scoped>
.dialog {
  margin-top: 30px;

  &__text {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
</style>
