<template>
  <div class="board">
    <v-img
      v-if="!boards[boardIndex].image"
      src="/image/board/boardDefaultIcon.png"
      height="200"
      max-width="300px"
    ></v-img>
    <v-img
      v-if="boards[boardIndex].image"
      :src="this.$axios.defaults.baseURL + boards[boardIndex].image"
      height="200"
      max-width="300"
    ></v-img>

    <div class="board__info">
      <v-card-title class="board__title">
        {{ boards[boardIndex].name }}
      </v-card-title>

      <v-card-subtitle class="board__author">
        Author: {{ boards[boardIndex].author.username }}
      </v-card-subtitle>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: "Board",

  props: {
    boardIndex: {
      required: true,
      type: Number
    }
  },
 computed: {
    ...mapGetters({boards: 'getBoardList'})
 }
}
</script>

<style scoped lang="scss">
.board {
  flex-direction: column;
  border: 1px solid gray;

  &__info {
    background-color: black;
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__author {
    color: gray;
  }

  &__settings {
    max-width: 35px;
    position: absolute;
    margin-left: 200px;
    margin-top: -30px;
  }

  &__settings:hover {
    background-color: gray;
  }
}
</style>
