<template>
  <div class="window">
    <v-card class="window__card">
      <v-toolbar
        color="primary"
        dark
      >Settings
      </v-toolbar>
      <v-card-text>

        <div class="window__card__board">
          <div class="window__card__board__title">Board details</div>
          <div class="window__card__board__image mt-10">
            <v-img
              v-if="!board.image"
              class="window__card__board__image-img"
              src="/image/board/boardDefaultIcon.png"
            ></v-img>
            <v-img
              v-if="board.image"
              :src="this.$axios.defaults.baseURL + board.image"
              class="window__card__board__image-img"
              height="200px"
            ></v-img>
            <v-file-input
              v-if="board.author.username === $auth.user.username"
              v-model="newImage"
              @change="setBoardImage()"
              class="window__card__board__image-input"
              accept="image/*"
              label="File input"
              type="file"
              hide-input
            >
            </v-file-input>
          </div>

          <div class="mt-2">
            Name:
            <input
              :value="board.name"
              :disabled="!($auth.user.username === board.author.username)"
              @keydown.enter.prevent="newBoardName($event.target.value)"
            />
          </div>
          <div class="d-flex">Author:&nbsp <span>{{ this.board.author.username }}</span></div>
          <div class="d-flex">CreatedAt:&nbsp <span>{{ parseCreatedAt(this.board.created_at) }}</span></div>
          <div class="window__card__board__users">Users:
            <span v-if="this.board.users.length === 0">
              <strong>—</strong>
            </span>
            <ul>
              <li
                v-for="(user, idx) in this.board.users"
                class="window__card__board__users__user"
              >
                <v-img
                  v-if="$auth.user.username === board.author.username"
                  @click="deleteUser(user, idx)"
                  class="window__card__board__users__delete"
                  src="/image/board/button_remove.png"
                  alt="del"
                  width="9px"
                  height="20px"
                />
                {{ user.username }}
              </li>
            </ul>
          </div>

          <input
            v-if="$auth.user.username === board.author.username"
            v-model="newUser"
            @keydown.enter.prevent="addUser()"
            class="window__card__board__addUser"
            name="addUser"
            placeholder="+ Add user"
          />
          <div v-if="errorMessage" class="window__card__board__addUser__error d-flex justify-center">
            {{ errorMessage }}
          </div>
        </div>

      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
          v-if="$auth.user.username === board.author.username"
          @click="deleteBoard()"
          class="red"
          text
          pointer
          outlined
        >
          Delete board
        </v-btn>

        <v-btn
          @click="$emit('closeSettings')"
          class="green"
          text
          pointer
          outlined
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import login from "@/components/Login.vue";

export default {
  name: "BoardSettings",
  data: () => ({
    newUser: "",
    errorMessage: "",
    newImage: null,
  }),

  computed: {
    ...mapGetters({board: 'getBoard'})
  },

  methods: {
    ...mapActions(['newBoardImage', 'updateBoard', 'removeBoard',
      'removeUserFromBoard', 'addUserToBoard']),

    parseCreatedAt(dateStr) {
      return (new Date(dateStr)).toLocaleString()
    },

    setBoardImage() {
      let formData = new FormData()
      formData.append("image", this.newImage)

      let data = {
        'boardId': this.board.id,
        'formData': formData
      }

      this.newBoardImage(data)
        .catch((resp) => this.errorMessage = resp.response.data.error)
    },

    deleteBoard() {
      this.removeBoard(this.board.id)
        .then(() => this.$router.push('/boards'))
        .catch(() => this.errorMessage = "403 Forbidden")
    },

    deleteUser(user) {
      let users = this.board.users.map((u) => u.username);

      let data = {
        'board_id': this.board.id,
        'users': users.filter(u => u !== user.username)
      }

      this.removeUserFromBoard(data)
        .catch((resp) => this.errorMessage = resp.response.data.error)
    },

    addUser() {
      if(this.newUser === '') {
        this.errorMessage = "Field username is empty";
        return null
      }

      let users = this.board.users.map((u) => u.username);
      users.push(this.newUser)

      let data = {
        'board_id': this.board.id,
        'users': users
      }

      this.addUserToBoard(data)
        .then((resp) => {
          this.newUser = "";
          this.errorMessage = "";
        })
        .catch((resp) => this.errorMessage = resp.response.data.error)
    },

    newBoardName(boardName) {


      let data = {
        'boardId': this.board.id,
        'name': boardName
      }

      this.updateBoard(data)
        .catch((resp) => this.errorMessage = resp.response.data.error)
    },
  }
}

</script>

<style scoped lang="scss">

.window {
  display: flex;
  justify-content: center;
  font-size: 30px;
  max-width: 20%;

  &__card {
    z-index: 2;

    &__board {
      margin-top: 20px;
      font-size: 20px;
      color: white;

      display: flex;
      row-gap: 20px;
      flex-direction: column;

      &__image {
        display: flex;
        justify-content: center;

        &-img {
          width: 300px;
          margin: auto;

        }

        &-input {
          position: absolute;
        }
      }

      &__addUser {
        padding-left: 10px;
        border-radius: 1px;
        background-color: black;
        color: white;
        height: 50px;

        &__error {
          color: red;
          text-align: center;
        }
      }

      &__title {
        text-align: center;
        font-size: 30px;
        color: white;
      }

      & span {
        color: #a0a0a0;
      }
      & input:first-child {
        color: #a0a0a0;
      }

      &__users {

        &__delete {
          max-width: 18px;
          max-height: 30px;
          margin-right: 15px;
          cursor: pointer;
        }

        &__user {
          list-style-type: none;
          display: flex;
          margin-top: 10px;
        }

      }

      &__remove {
        color: white;
        font-size: 20px;
      }
    }
  }
}
</style>
