<template>
  <div class="mr-5">
    <v-card class="column">
      <v-card-title class="column__title">
        <input
          :value="column.title"
          @keyup.enter="editColumnTitle($event.target.value)"
          class="column__title__input"
          type="text"
          placeholder="Title"
        />
      </v-card-title>

      <v-card-text class="tasks">
        <draggable @end="endDrag($event)">
          <div v-for="task in sortedTasks" :key="task.id" class="column__task">
            <v-textarea
              :value="task.title"
              @keydown.enter.prevent="(event) => editTask(event.target.value, task)"
              class="column__task-input"
              type="text"
              no-resize
              auto-grow
              solo
              flat
              rows="1"
              background-color="#ffffff"
              hide-details
              placeholder="Please write the text here"
            />

            <v-img
              @click="$emit('taskDetailsToggle', task);"
              src="/image/board/comments.svg"
              class="column__task-cursor ml-2 mb-3"
              alt="del"
              height="20px"
            />

            <v-img
              @click="deleteTask(task.id)"
              src="/image/board/button_remove.png"
              class="column__task-cursor ml-2 mb-3"
              alt="del"
            />
          </div>
        </draggable>

        <input
          v-model="newTask"
          @keyup.enter="addNewTask"
          class="column__task-add"
          placeholder="+ Add task"
        />

        <div class="column__delete">
          <v-btn color="gray" @click="deleteColumn()">
            Remove column
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import draggable from 'vuedraggable';
import {mapGetters, mapActions} from 'vuex'
import Vue from "vue";

export default {

  name: "Column",
  components: {draggable},
  props: {
    column: {
      type: Object,
      required: true,
    },
  },

  data: () => ({
    newTask: "",
  }),

  computed: {
    ...mapGetters(['getTaskIndex', 'getColumnIndex']),

    sortedTasks() {
      if (!this.column.tasks) {
        return []
      }

      const arr = [...this.column.tasks];
      return arr.sort((a, b) => {
        if (a.position > b.position) return 1;
        if (a.position < b.position) return -1;
        return 0;
      });
    },
  },

  methods: {
    ...mapActions(['addTask', 'removeTask', 'removeColumn', 'updateTask', 'updateColumn', 'draggableTask']),
    ...mapGetters(['getBoard']),

    addNewTask() {
      let maxTaskPosition = 0
      for (let i = 0; i < this.column.tasks.length; i++) {
        if (this.column.tasks[i].position > maxTaskPosition)
          maxTaskPosition = this.column.tasks[i].position
      }

      let data = {
          title: this.newTask,
          column_id: this.column.id,
          position: maxTaskPosition + 1
      }

      this.addTask(data).then(() => this.newTask = "")
    },

    editTask(value, task) {
      const ColumnIndex = this.getColumnIndex(this.column.id)

      let data = {
        'colIdx': ColumnIndex,
        'taskIdx': this.getTaskIndex(ColumnIndex, task.id),
        'task': {
          'id': task.id,
          "title": value,
          "position": task.position,
          "column_id": this.column.id
        }
      }
      this.updateTask(data)
    },

    editColumnTitle(value) {
      let data = {
        'title': value,
        'position': this.column.position,
        'columnId': this.column.id,
        'idx': this.getColumnIndex(this.column.id),
      }

      this.updateColumn(data)
    },

    deleteColumn() {
      let data = {
        'columnId': this.column.id,
        'idx': this.getColumnIndex(this.column.id)
      }
      this.removeColumn(data)
    },

    deleteTask(taskId) {
      const ColumnIndex = this.getColumnIndex(this.column.id);
      const taskIndex = this.getTaskIndex(ColumnIndex, taskId)

      let data = {
        'taskId': taskId,
        'columnId': this.column.id,
        'columnIndex': ColumnIndex,
        'taskIndex': taskIndex
      }

      this.removeTask(data)
    },

    endDrag(event) {
      if(event.oldIndex !== event.newIndex) {
        this.draggableTask({
          'taskId': this.sortedTasks[event.oldIndex].id,
          'newPosition': this.sortedTasks[event.newIndex].position,
          'idx': this.getColumnIndex(this.column.id),
        })
      }
    },
  },
};
</script>


<style scoped lang="scss">
$card-color: #ebecf0;
.column {
  margin-top: 15px;

  &__delete {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }

  &__title {
    background-color: $card-color;

    &__input {
      max-width: 275px;
    }
  }

  .tasks {
    background-color: $card-color;
  }

  &__task {
    display: flex;
    align-items: center;

    &-cursor {
      cursor: pointer;
      max-width: 20px;
    }

    &-add {
      padding-left: 10px;
      color: black;
      border-radius: 8px;
      border: 1px solid black;
      height: 50px;
      width: 240px;
      ::v-deep {
        textarea {
          &::placeholder {
            color: black;
          }
          color: black;
        }
      }
    }

    &-input {
      border-radius: 8px;
      box-shadow: 0 1px 0 #091e4240;
      margin-bottom: 10px;
      ::v-deep {
        textarea {
          padding: 0 15px !important;
          color: black;
        }
      }
    }
  }
}

</style>
