<template>
  <v-row class="footer ma-0">
    <v-col class="pa-0" cols="12" xs="12" sm="12" md="1" lg="1" xl="1"></v-col>
    <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2" @click="$nuxt.$emit('toggleLoginWindow')"
           class="footer__login">
      <div class="footer-img">
        <v-img
          class="footer__image"
          src="/image/footer/footerIcon.svg"
        >
        </v-img>
      </div>
      <div>
        <strong class="footer__login-text" v-if="!$auth.loggedIn">Log in</strong>
      </div>
    </v-col>
    <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2" @click="$router.push('/about')">
      <p class="text-h5"><strong>About Notes</strong></p>
      <p>What`s behind the boards.</p>
    </v-col>
    <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2" @click="$router.push('/#jobs')">
      <p class="text-h5"><strong>Jobs</strong></p>
      <p>Learn about open roles on the Notes team.</p>
    </v-col>
    <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2" @click="$router.push('/#apps')">
      <p class="text-h5"><strong>Apps</strong></p>
      <p class="mb-0">Download the Notes App for your Desktop or Mobile devices.</p>
    </v-col>
    <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2" @click="$router.push('/about')">
      <p class="text-h5"><strong>Contact us</strong></p>
      <p class="mb-0">Need anything? Get in touch and we can help.</p>
    </v-col>
    <v-col class="pa-0" cols="12" xs="12" sm="12" md="1" lg="1" xl="1"></v-col>
  </v-row>
</template>

<script>
export default {
  name: "FooterMenu"
}
</script>

<style scoped lang="scss">
@media (max-width: 1264px) {
  .footer {
    margin-top: 20% !important;
  }
}

@media (max-width: 959px) {
  .footer {
    margin-top: 70% !important;
    text-align: center;

    &__image {
      display: none;
    }
  }
}

@media (max-width: 653px) {
  .footer {
    margin-top: 100% !important;
  }
}

@media (max-width: 465px) {
  .footer {
    margin-top: 150% !important;
  }
}

@media (max-width: 340px) {
  .footer {
    margin-top: 190% !important;
  }
}


.footer {
  background-color: gray;
  position: absolute;
  bottom:0;
  width: 100%;

  &-img {
    width: 100%;
  }

  &__login {
    &:hover {
      text-decoration: underline;
    }
  }

  &__image {
    max-width: 50%;
  }

  & div:not(:last-child):not(:first-child) {
    &:hover {
      background-color: black;
      cursor: pointer;
    }
  }
}
</style>
