<template>
  <v-layout class="window" align-center justify-center>
    <v-flex xs12 sm8 md6 lg4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Authorization</v-toolbar-title>
          <div class="window__button">
           <v-btn class="window__button-btn" @click="$emit('closeWindow')">X</v-btn>
          </div>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="login">
            <v-text-field
              v-model="email"
              class="login"
              name="login"
              label="Email"
              type="text"
            ></v-text-field>

            <v-text-field
              v-model="password"
              name="password"
              class="password"
              label="Password"
              type="password"
            ></v-text-field>

            <div class="navbar">
              <div class="navbar__btn">
                <v-btn
                  type="submit"
                  color="primary"
                >
                  Login
                </v-btn>
              </div>

              <div class="navbar__register">
                &nbspDo not have account?&nbsp
                <a @click="$emit('openRegisterWindow')">Register</a>
              </div>

            </div>

            <div class="navbar__error" v-if="error" v-html="error">
            </div>
          </form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Login",
  data: () => ({
    email: "",
    password: "",
    error: '',
  }),

  methods: {
      login() {
        this.$auth.loginWith('local', {data: {email: this.email, password: this.password}})
          .catch(err => {
            this.error = err.response.data.error;
          })
      },
  },

  mounted() {
    this.$nuxt.$on('successRegister', () => {
      // this.error = "<span class='green--text'>An email has been sent to your email to activate your account. Please verify your account</span>";
      this.error = "<span class='yellow--text'>No SMTP server found. The account is activated automatically</span>";
    });
  }
}
</script>

<style scoped lang="scss">
.window {
  z-index: 1;

  &__button {
    min-width: unset;
    margin-right: 0;
    margin-left: auto;

    &-btn {
      border-radius: 3px;
    }
  }
}

.navbar {
  display: flex;

  &__error {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: red;
    text-align: center;
  }

  &__register {
    display: flex;

    align-items: center;
  }
}
</style>
