<template>
  <v-row app class="navbar">
    <v-col cols="12" xs="12" sm="2">
      <img alt="logo" class="navbar-ico" @click="$router.push('/')"
           src="/image/navbar/Notes.ico"/>
    </v-col>

    <v-col cols="12" xs="12" sm="8" class="navbar__cols d-flex justify-center">
      <v-card
        class="navbar__cols__card mx-auto"
        width="300"
      >
        <v-list class="navbar__cols__card__list py-0">
          <v-list-group
            v-model="groupOpened"
            prepend-icon="mdi-home"
          >
            <template v-slot:activator>
              <v-list-item-title v-if="$route.name === 'index'" class="navbar__cols__card__list__item-title">Home</v-list-item-title>
              <v-list-item-title v-if="$route.name !== 'index'" class="navbar__cols__card__list__item-title">{{ $route.name }}</v-list-item-title>
            </template>

            <router-link to="/" class="navbar__link">
              <v-list-item link @click="groupOpened = false" class="d-flex justify-center"
                           :disabled="$route.name === 'index'">Home
              </v-list-item>
            </router-link>
            <router-link to="/boards" class="navbar__link">
              <v-list-item link @click="groupOpened = false" class="d-flex justify-center"
                           :disabled="$route.name === 'boards'">Boards
              </v-list-item>
            </router-link>
            <router-link to="/about" class="navbar__link">
              <v-list-item link @click="groupOpened = false" class="d-flex justify-center"
                           :disabled="$route.name === 'about'">About
              </v-list-item>
            </router-link>
            <router-link to="/profile" class="navbar__link">
              <v-list-item link v-if="$auth.loggedIn" @click="groupOpened = false" class="d-flex justify-center">
                Profile
              </v-list-item>
            </router-link>
            <router-link to="/" class="navbar__link">
              <v-list-item link v-if="$auth.loggedIn" @click="groupOpened = false; $auth.logout()"
                           class="navbar__link-item d-flex justify-center">Logout
              </v-list-item>
            </router-link>
            <router-link to="/" class="navbar__link">
              <v-list-item
                v-if="!$auth.loggedIn"
                @click="authWindow = 'login'; groupOpened = false"
                :disabled="authWindow === 'login'"
                class="d-flex justify-center"
                link
              >
                Login
              </v-list-item>
            </router-link>
            <router-link to="/" class="navbar__link">
              <v-list-item
                v-if="!$auth.loggedIn"
                @click="authWindow = 'register'; groupOpened = false"
                :disabled="authWindow === 'register'"
                class="navbar__link-item d-flex justify-center"
                link
              >
                Register
              </v-list-item>
            </router-link>
          </v-list-group>
        </v-list>
      </v-card>
    </v-col>

    <v-col cols="12" xs="12" sm="2" class="d-flex justify-center">
      <v-btn
        @click="() => {this.authWindow === 'close' ? this.authWindow = 'login' : this.authWindow = 'close'}"
        v-if="!$auth.loggedIn"
      >Login
      </v-btn>
      <Login
        v-show="!$auth.loggedIn && authWindow === 'login'"
        @openRegisterWindow="authWindow = 'register'"
        @closeWindow="authWindow = 'close'"
        class="navbar__login"
      />

      <Register
        v-if="authWindow === 'register'"
        @openLoginWindow="authWindow = 'login';"
        @closeWindow="authWindow = 'close'"
        class="navbar__login"
      />

      <v-row
        v-if="$auth.loggedIn"
        @click="$router.push('/profile')"
        class="d-flex justify-center"
      >
        <div class="navbar__user">
          <div v-if="!$auth.user.image" class="navbar__user__notAuth pa-1">
            <v-img alt="logo" src="/image/navbar/user.svg"/>
          </div>
          <v-img v-if="$auth.user.image" alt="logo" class="navbar__user-icon"
                 :src="this.$axios.defaults.baseURL + $auth.user.image" max-width="40px"/>
          <div class="navbar__user__username">
            {{ $auth.user.username }}
          </div>
        </div>

      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import Login from '@/components/Login.vue'
import Register from '@/components/Register.vue'

export default {
  name: "Navbar",
  components: {
    Login,
    Register,
  },

  data: () => ({
    groupOpened: false,
    authWindow: 'close'
  }),

  mounted() {
    this.$nuxt.$on('toggleLoginWindow', () => this.authWindow === 'login' ? this.authWindow = 'close' : this.authWindow = 'login');
    this.$nuxt.$on('toggleRegisterWindow', () => this.authWindow === 'register' ? this.authWindow = 'close' : this.authWindow = 'register');
  }

}
</script>

<style scoped lang="scss">
.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #121212;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;

  &__cols {
    z-index: 2;
    min-height: 116px;

    &__card {
      position: absolute;
      border-radius: 50px;

      &__list {
        border-radius: 50px;

        &__item-title {
          text-transform: capitalize;
        }
      }
    }
  }

  &-ico {
    max-width: 85px;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;

    &-item {
      border-bottom-left-radius: 50px !important;
      border-bottom-right-radius: 50px !important;
    }
  }

  &__login {
    position: absolute;
    max-width: 55%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 150%
  }


  &__user {
    cursor: pointer;
    display: flex;
    justify-content: center;

    &__notAuth {
      border: 1px solid white;
      border-radius: 50px;
    }

    &-icon {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      object-fit: cover;
    }

    &__username {
      margin-left: 5px;
      display: flex;
      align-items: center;
      font-size: 17px;

    }
  }
}
</style>
