<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg4>
      <v-card class="window elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Registration</v-toolbar-title>
          <div class="window__close">
            <v-btn class="window__close-btn" @click="$emit('closeWindow')">X</v-btn>
          </div>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="register">
            <v-text-field
              v-model="username"
              class="username"
              name="username"
              label="username"
              type="text"
            ></v-text-field>

            <v-text-field
              v-model="email"
              class="email"
              name="email"
              label="email"
              type="text"
            ></v-text-field>

            <v-text-field
              v-model="password"
              name="password"
              class="password"
              label="Password"
              type="password"
            ></v-text-field>

            <div class="window__register">
              <div>
                <v-btn
                  type="submit"
                  color="primary"
                >
                  Register
                </v-btn>
              </div>

              <div class="window__register-login">
                &nbspDo you have account?&nbsp
                <a @click="$emit('openLoginWindow')">Login</a>
              </div>
            </div>
          </form>
          <div class="window__error mt-4" v-if="errors !== ''">
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </div>
        </v-card-text>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Register",
  data: () => ({
    name: '',
    email: '',
    password: '',
    errors: '',
  }),

  methods: {
    register() {
      this.$axios
        .post("/api/auth/register", {
          username: this.username,
          email: this.email,
          password: this.password,
        })
        .then(() => {
          this.$nuxt.$emit('successRegister')
          this.$emit('openLoginWindow')
        })
        .catch((error) => {
          this.errors = error.response.data
        })
    },
  }
}
</script>


<style scoped lang="scss">
.window {
  &__close {
    min-width: unset;
    margin-right: 0;
    margin-left: auto;

    &-btn {
      border-radius: 3px;
    }
  }

  &__register {
    display: flex;

    &__error {
      margin-left: 10px;
      color: red;
      text-align: center;
      margin-top: 10px;
      & ul {
        padding-left: 0;
      }
      & li {
        list-style: none;
        margin-top: 10px;
      }
    }

    &-login {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
</style>
