<template>
  <div>
    <v-card>
      <v-toolbar
        color="primary"
        dark
      >Task Details
      </v-toolbar>
      <v-card-text>
        <div class="details">

          <div class="details__task">
            <div class="details__task__title">Task</div>
            <div class="details__task__value">{{ task.title }}</div>
          </div>

          <div class="details__comments">
            <div class="details__comments__title">Comments</div>

            <div v-for="(el, idx) in comments" class="details__comments__value ml-2 mb-3">
              <img
                src="/image/board/button_remove.png"
                alt="del"
                width="18px"
                height="18px"
                @click="deleteComment(el.id, idx)"
                class="details__comments__value__delete"
                v-if="$auth.user.id === el.user.id || $auth.user.id === el.user.id"
              />

              <div class="details__comments__value__data"
                   :class="{details__comments__value__data__noDeleteBtn: !($auth.user.id === el.user.id || $auth.user.id === el.user.id)}"
              >
                [{{ parseCreatedAt(el.created_at) + "]&nbsp" }}
              </div>

              <div class="details__comments__value__user">
                {{ el.user.username + ":&nbsp" }}
              </div>

              <div class="details__comments__value__text">
                {{ el.text }}
              </div>
            </div>

            <div v-if="comments.length === 0">
              There are no comments...
            </div>
            <div class="details__add">
              <div class="details__add__input">
                <v-textarea
                  v-model="value"
                  v-if="$auth.loggedIn"
                  @keyup.enter="newComment(value.trim())"
                  no-resize
                  auto-grow
                  rows="1"
                  placeholder="+ Add comment"
                />
              </div>
            </div>
            <span class="details__error">{{ errorMessage }}</span>
          </div>
        </div>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
          text
          @click="$emit('closeTask', false)"
          pointer
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: "TaskDetails",
  data: () => ({
    value: "",
    commentNewId: 0,
    errorMessage: "",
  }),
  props: {
    task: {
      type: Object,
      required: true,
    },
  },

  computed: {
    ...mapGetters({comments:'getComments'})
  },

  methods: {
    ...mapActions(['getComments', 'addComment', 'removeComment']),

    parseCreatedAt(dateStr) {
      return (new Date(dateStr)).toLocaleString()
    },

    newComment(value) {
      if (value === '') {
        this.errorMessage = 'Empty field'
        return null
      }

      let comment = {
        task_id: this.task.id,
        text: value,
      }

      this.addComment(comment)
        .then(() => {
          this.value = ""
          this.errorMessage = ""
        })
        .catch((err) => this.errorMessage = err.response.data.error)
    },

    deleteComment(commentId, idx) {
      let data = {
        'idx': idx,
        'commentId': commentId
      }

      this.removeComment(data)
        .then(() => this.errorMessage = "")
        .catch((err) => this.errorMessage = err)
    },
  },

  mounted() {
    this.getComments(this.task.id)
      .catch((err) => console.log(err))
  },

}
</script>

<style scoped lang="scss">

.details {
  text-align: center;

  &__error {
    color: red;
    font-size: 20px;
  }

  &__task {
    margin-top: 20px;
    margin-bottom: 10px;

    &__title {
      padding-bottom: 15px;
      font-size: 30px;
      color: black;
    }

    &__value {
      font-size: 20px;
      margin-bottom: 50px;
    }
  }

  &__comments {

    &__title {
      color: black;
      margin-top: 40px;
      padding-bottom: 15px;
      font-size: 30px;
    }

    &__value {
      display: flex;
      text-align: left;
      font-size: 20px;

      &__delete {
        margin-top: 2px;
        margin-right: 10px;
        cursor: pointer;
      }

      &__data {
        font-size: 15px;
        white-space: nowrap;

        &__noDeleteBtn {
          margin-left: 27px;
        }
      }

      &__user {
        font-size: 18px;
        color: black;
      }

      &__text {

      }
    }
  }


}
</style>
