<template>
  <v-app>
    <v-main>
      <v-container fluid class="layoutsDefault">
        <navbar/>
        <div class="navbar__margin">
        <Nuxt />
        </div>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "board"
}
</script>

<style lang="scss">
</style>
