<template>
  <v-app>
    <v-main>
      <v-container fluid class="layoutsDefault">
        <navbar/>
        <div class="navbar__margin">
        <Nuxt />
        </div>
        <footerMenu/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "default"
}
</script>

<style lang="scss">
@media (max-width: 600px) {
  .navbar__margin {
    margin-top: 316px !important;
  }
}

.navbar__margin {
  margin-top: 116px
}

.layoutsDefault {
  padding: 0;
}


body {
  background-color: #121212;
}

html {
  overflow: auto;
}
</style>
