<template>
  <v-row class="about px-5">
    <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3" class="text-center"
           data-aos="fade-right"
           data-aos-offset="180"
           data-aos-easing="ease-in-sine">
      <div class="about__contact mx-auto">
        <v-list color="transparent">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title><h1 class="contact__title">Contacts</h1></v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                Address: Kiev
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                topCompany@gmail.com
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title> +38 096 924 5653</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider class="my-2"></v-divider>

          <v-list-item link color="grey lighten-4">
            <v-list-item-content>
              <v-list-item-title><a @click="$router.push('/')" class="about__contact__clearLink d-flex justify-center">
                <h3>back to
                  Home</h3></a></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
    </v-col>

    <v-col cols="12" xs="12" sm="12" md="9" lg="9" xl="9"
           data-aos="fade-left"
           data-aos-offset="180"
           data-aos-easing="ease-in-sine">
      <v-sheet min-height="50vh" rounded="lg">
        <h1 class="about__titleText">About</h1>
        <h3 class="ma-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias architecto
          consectetur, consequatur corporis deserunt dignissimos error esse eum expedita explicabo fugit in inventore
          ipsum iste maiores minus modi necessitatibus nesciunt nobis non officia omnis quas quibusdam quod quos ratione
          reiciendis repellat repudiandae sit vitae voluptate voluptatibus. Blanditiis dignissimos ea, fugit, ipsam,
          labore libero mollitia nam obcaecati quasi quibusdam rem voluptatem. Ab dolor facere facilis incidunt
          laudantium obcaecati, quidem quisquam voluptate. Eaque, molestias, quis?</h3>
        <h4 class="ma-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa dolores, ea eveniet facere
          impedit iste modi nihil nulla odio officiis optio quae quam, quis recusandae sint sit tempora veniam?
          Architecto asperiores, autem consequatur deserunt eum illum nulla odio pariatur praesentium provident quam qui
          quo repellendus rerum sequi tempora totam unde vel. Beatae consequatur dignissimos illo, molestias quas quasi
          repellendus? Delectus est incidunt iste praesentium soluta! Adipisci asperiores et iste nostrum nulla rem
          sequi veniam!</h4>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import AOS from 'aos'
import 'aos/dist/aos.css'

export default {
  name: "about",
  layout: 'default',
  mounted() {
    AOS.init()
  },

  head: {
    htmlAttrs: {
      style: 'overflow-x: hidden !important'
    }
  }

}
</script>


<style lang="scss">
@media (max-width: 600px) {
  .about {
    margin-bottom: 90% !important;
  }
  .contact {
    max-width: 100% !important;
  }
}


@media (max-width: 960px) {
  .about {
    margin-bottom: 70%;
  }
  .contact {
    max-width: 50% !important;
  }
}

.about {
  &__titleText {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

  &__contact {
    background-color: #1E1E1E;
    border-radius: 3%;

    &__title {
      display: flex;
      justify-content: center;
    }

    &__clearLink {
      text-decoration: none;
      color: black;
    }
  }
}
</style>
