<template>
  <div class="window mx-auto">
    <div class="notes">
      <div class="notes__info">
        <v-row class="d-flex flex-wrap px-10" data-aos="fade-up">
          <v-col cols="12" xs="12" sm="12" md="6" lx="6" xl="6">
            <div>
              <p class="notes__info-text"><strong>Notes </strong>helps teams move work forward.</p>
              <p class="notes__info-subtext mt-5">Collaborate, manage projects, and reach new productivity peaks. From
                high rises to the home office, the way your team works is unique—accomplish it all with Notes.</p>
            </div>

            <div class="text-center">
              <v-btn
                v-if="!$auth.loggedIn"
                @click="$nuxt.$emit('toggleRegisterWindow')"
                class="mt-16"
                outlined
                color="primary"
              >
                Register
              </v-btn>

              <div class="d-flex justify-center mt-10">
                <a
                  class="notes__info-video align-center d-flex mb-5"
                  href="https://youtube.com"
                  target="_blank"
                >
                  Show video&nbsp;&nbsp;
                  <div>
                    <v-img
                      src="/image/mainPage/btn_play.svg"
                      height="30"
                      width="30"
                    >
                    </v-img>
                  </div>
                </a>
              </div>
            </div>
          </v-col>

          <v-col class="d-flex justify-center align-center mb-5" cols="12" xs="12" sm="12" md="6" lx="6" xl="6">
            <img
              class="notes__info-img"
              src="/image/mainPage/hero.png"
            >
          </v-col>
        </v-row>
      </div>

      <hr/>

      <v-row class="notes__offers mt-8" data-aos="fade-up">
        <v-col class="d-flex justify-center align-center" cols="12" xs="12" sm="12" md="12" lg="4" xl="4">
          <v-col cols="3" xs="3" sm="3" md="3" lg="3" xl="3">
            <img
              class="notes__offers-img1"
              src="/image/mainPage/tag.svg"
            >
          </v-col>
          <v-col cols="9" xs="9" sm="9" md="9" lg="9" xl="9">
            <h3>See Notes pricing</h3>
            <p class="mt-4">Whether you’re a team of 2 or 2,000, Notes can be customized for your organization.
              Explore
              which option is best for you.</p>
            <v-btn
              depressed
              color="primary"
            >
              Compare pricing
            </v-btn>
          </v-col>
        </v-col>


        <v-col class="d-flex justify-center align-center" cols="12" xs="12" sm="12" md="12" lg="4" xl="4">
          <v-col cols="3" xs="3" sm="3" md="3" lg="3" xl="3">
            <img
              class="notes__offers-img2"
              src="/image/mainPage/compass.svg"
              alt="" loading="lazy">
          </v-col>
          <v-col cols="9" xs="9" sm="9" md="9" lg="9" xl="9">
            <h3>What is Notes?</h3>
            <p class="mt-4">Notes is the visual tool that empowers your team to manage any type of project, workflow, or
              task tracking.</p>
            <v-btn
              depressed
              color="primary"
            >
              Tour Notes
            </v-btn>
          </v-col>
        </v-col>

        <v-col class="d-flex justify-center align-center" cols="12" xs="12" sm="12" md="12" lg="4" xl="4">
          <v-col cols="3" xs="3" sm="3" md="3" lg="3" xl="3">
            <img
              class="notes__offers-img3"
              src="/image/mainPage/solutions.svg"
              alt="" loading="lazy">
          </v-col>
          <v-col cols="9" xs="9" sm="9" md="9" lg="9" xl="9">
            <h3>Discover Notes Enterprise</h3>
            <p class="mt-4">The productivity tool teams love, paired with the features and security needed for
              scale.</p>
            <v-btn
              depressed
              color="primary"
            >
              Learn more
            </v-btn>
          </v-col>
        </v-col>
      </v-row>

      <hr class="mt-8"/>

      <v-row class="notes__example">
        <div class="mt-16 text-center"
             data-aos="zoom-in-down">
          <h2>It’s more than work. It’s a way of working together.</h2>
          <p class="notes__example-subtext mt-5">
            Start with a Notes board, lists, and cards. Customize and expand with
            more features as your teamwork grows.
            Manage projects, organize tasks, and build team spirit—all in one place.
          </p>
          <v-btn
            v-if="!$auth.loggedIn"
            depressed
            color="primary"
            @click="$nuxt.$emit('toggleRegisterWindow')"
          >
            Start doing
          </v-btn>
        </div>

        <div class="mt-16 mx-auto text-center"
             data-aos="flip-left"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000">
          <img
            class="notes__example-img"
            src="/image/mainPage/boardExample1.png"
            alt="Illustration of a team Notes Board" loading="lazy">
        </div>
      </v-row>

      <p data-aos="flip-up" data-aos-duration="1500" class="ml-auto mr-auto mt-16 text-center">Join over 2,000,000 teams
        worldwide that are using
        Notes to get more
        done.</p>

      <div class="notes__partners mt-16 text-center" data-aos="flip-up" data-aos-duration="1500">
        <ul class="d-flex flex-wrap">
          <li>
            <img
              src="/image/mainPage/coinbase.svg"
              alt="Coinbase Logo" width="162" loading="lazy">
          </li>
          <li>
            <img
              src="/image/mainPage/johnDeere.svg"
              alt="John Deere logo" width="170" loading="lazy">
          </li>
          <li>
            <img
              src="/image/mainPage/Grand-Hyatt.svg"
              alt="Grand Hyatt logo" width="162" loading="lazy">
          </li>
          <li>
            <img
              src="/image/mainPage/Google.svg"
              alt="Google logo" width="162" loading="lazy">
          </li>

          <li>
            <img
              src="/image/mainPage/Visa.svg"
              alt="Visa logo" width="162" loading="lazy">
          </li>
          <li>
            <img
              src="/image/mainPage/zoom.svg"
              alt="Zoom logo" width="165" loading="lazy">
          </li>
        </ul>
      </div>

      <div class="notes__opportunities mt-16">
        <v-row
          data-aos="fade-right"
          data-aos-offset="200"
          data-aos-easing="ease-in-sine"
          data-aos-duration="2000">
          <v-col cols="12" xs="12" sm="12" md="6">
            <h2>Features to help your team succeed</h2>
            <p class="mt-4">Powering a productive team means using a powerful tool (and plenty of snacks). From meetings
              and projects to events and goal setting, Trello’s intuitive features give any team the ability to quickly
              set up and customize workflows for just about anything.</p>
          </v-col>
        </v-row>

        <v-row class="mt-16 mb-16"
               data-aos="fade-left"
               data-aos-offset="180"
               data-aos-easing="ease-in-sine"
               data-aos-duration="2000">
          <v-col cols="12" xs="12" sm="12" md="7" lg="7" xl="7" class="notes__image">
            <img
              class="notes__opportunities-img2n"
              src="/image/mainPage/view.svg"
              alt="Cursor choosing one of 6 different Trello board views." loading="lazy">
          </v-col>

          <v-col cols="12" xs="12" sm="12" md="5" lg="5" xl="5">
            <p>CHOOSE A VIEW</p>
            <h2 class="mt-10">The board is just the beginning</h2>
            <p class="mt-4">Lists and cards are the building blocks of organizing work on a Trello board. Grow from
              there
              with task assignments, timelines, productivity metrics, calendars, and more.</p>
            <v-expansion-panels class="mt-16">
              <v-expansion-panel>
                <v-expansion-panel-header>Learn more</v-expansion-panel-header>
                <v-expansion-panel-content>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>


        <v-row class="mt-16 mb-16"
               data-aos="fade-right"
               data-aos-offset="320"
               data-aos-easing="ease-in-sine"
               data-aos-duration="2000">
          <v-col cols="12" xs="12" sm="12" md="5" lg="5" xl="5">
            <p>DIVE INTO THE DETAILS</p>
            <h2 class="mt-10">Cards contain everything you need</h2>
            <p class="mt-4">Notes cards are your portal to more organized work—where every single part of your task can
              be
              managed, tracked, and shared with teammates. Open any card to uncover an ecosystem of checklists, due
              dates,
              attachments, conversations, and more.</p>
            <v-expansion-panels class="mt-16">
              <v-expansion-panel>
                <v-expansion-panel-header>Learn more</v-expansion-panel-header>
                <v-expansion-panel-content>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>

          <v-col cols="12" xs="12" sm="12" md="7" lg="7" xl="7" class="notes__image">
            <img
              class="notes__opportunities-img2n1"
              src="/image/mainPage/card-back.svg"
              alt="Cursor choosing one of 6 different Trello board views." loading="lazy">
          </v-col>
        </v-row>


        <v-row class="mt-16 mb-16"
               data-aos="fade-left"
               data-aos-offset="180"
               data-aos-easing="ease-in-sine"
               data-aos-duration="2000">
          <v-col cols="12" xs="12" sm="12" md="7" lg="7" xl="7" class="notes__image">
            <img
              class="notes__opportunities-img2n"
              src="/image/mainPage/automation.png"
              alt="Cursor choosing one of 6 different Trello board views." loading="lazy">
          </v-col>

          <v-col cols="12" xs="12" sm="12" md="5" lg="5" xl="5">
            <p>MEET YOUR NEW BUTLER</p>
            <h2 class="mt-10">No-code automation</h2>
            <p class="mt-4">Let the robots do the work—so your team can focus on work that matters. With Trello’s
              built-in
              automation, Butler, reduce the number of tedious tasks (and clicks) on your project board by harnessing
              the
              power of automation across your entire team.</p>
            <v-expansion-panels class="mt-16">
              <v-expansion-panel>
                <v-expansion-panel-header>Learn more</v-expansion-panel-header>
                <v-expansion-panel-content>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>


        <v-row class="mt-16 mb-16"
               data-aos="fade-right"
               data-aos-offset="180"
               data-aos-easing="ease-in-sine"
               data-aos-duration="2000">
          <v-col cols="12" xs="12" sm="12" md="5" lg="5" xl="5">
            <p>POWER-UPS</p>
            <h2 class="mt-10">Integrate top work tools</h2>
            <p class="mt-4">Easily connect the apps your team already uses into your Trello workflow, or add a Power-Up
              that helps fine-tune one specific need. With hundreds of Power-Ups available, your team’s workflow wishes
              are covered.</p>
            <v-expansion-panels class="mt-16">
              <v-expansion-panel>
                <v-expansion-panel-header>Learn more</v-expansion-panel-header>
                <v-expansion-panel-content>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex ea commodo consequat.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>

          <v-col cols="12" xs="12" sm="12" md="7" lg="7" xl="7" class="notes__image">
            <img
              class="notes__opportunities-img2n1"
              src="/image/mainPage/power-ups.png"
              alt="Cursor choosing one of 6 different Trello board views." loading="lazy">
          </v-col>
        </v-row>
      </div>

      <div data-aos="flip-left"
           data-aos-easing="ease-out-cubic"
           data-aos-duration="2000">
        <h1 class="mt-16 mb-5 text-center">Reviews</h1>

        <v-slide-group
          v-model="model"
          class="pa-4"
        >
          <v-slide-item
            v-for="el in reviews"
            :key="el.id"
            v-slot="{ active, toggle }"

          >
            <v-card
              :color="active ? undefined : 'gray'"
              class="notes__review d-flex flex-wrap justify-center ma-3 pa-3"
            >
              <div>
                <h2 class="text-center mb-4">{{ el.text }}</h2>
              </div>
              <div class="align-center">
                <v-img
                  :src="el.image"
                  alt="del"
                  class="notes__review-img mx-auto"
                />
                <div><strong>{{ el.name }}</strong> &nbsp;- {{ el.position }}</div>
                <div>Industry: &nbsp;<strong>{{ el.industry }}</strong></div>
              </div>
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </div>

      <div class="notes__mobileApp" data-aos="flip-down" data-aos-duration="2000" data-aos-delay="500">
        Notes also works great on your smaller screen.
        <div class="flex-wrap">
          <img
            src="/image/mainPage/app-store.svg"
            alt="Available on the App Store" loading="lazy">
          <img
            src="/image/mainPage/play-store.svg"
            alt="Get it on Google Play" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AOS from 'aos'
import 'aos/dist/aos.css'

export default {
  name: "index",
  layout: 'default',
  data: () => ({
    model: null,
    reviews: [
      {
        'id': '1',
        'text': 'Very convenient and functional site, which very often helps out. Recommended it! Very convenient and functional site, which very often helps out. Recommended it! Very convenient and functional site, which very often helps out. Recommended it!',
        'name': 'Bharath Sundar',
        'industry': 'eCommerce',
        'position': 'IT Project Manager',
        'image': 'image/navbar/profileIcon.svg'
      },
      {
        'id': '2',
        'text': 'Very convenient and functional site, which very often helps out. Recommended it! Very convenient and functional site, which very often helps out. Recommended it! Very convenient and functional site, which very often helps out. Recommended it!',
        'name': 'Bharath Sundar',
        'industry': 'eCommerce',
        'position': 'IT Project Manager',
        'image': 'image/navbar/profileIcon.svg'
      },
    ]
  }),
  mounted() {
    AOS.init()
  },
}
</script>

<style scoped lang="scss">
@media (max-width: 1360px) {
  .window {
    margin-bottom: 30% !important;
  }
}

@media (max-width: 960px) {
  .window {
    margin-bottom: 70% !important;
  }
  .notes__image {
    display: flex;
    justify-content: center;

    &-img {
      align-items: center !important;
      float: none !important;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (max-width: 660px) {
  .window {
    margin-bottom: 100% !important;
  }
}


.login:hover {
  text-decoration: underline;
}

.window {
  max-width: 70%;
}

.notes {
  margin: auto;

  &__example {
    &-subtext {
      font-size: 17px;
    }

    &-img {
      border: 5px solid gray;
      max-width: 80%;
    }
  }

  &__offers {
    &-img1 {
      max-width: 80%;
    }

    &-img2 {
      max-width: 100%;
    }

    &-img3 {
      max-width: 130%;
    }
  }

  &__info {
    &-text {
      font-size: 2.5rem;
    }

    &-subtext {
      font-size: 19px
    }

    &-video {
      text-decoration: none;
      color: white;
      max-width: 125px;
    }

    &-img {
      max-width: 60%;
    }
  }

  &__opportunities {
    &-img2n {
      max-width: 80%;
    }

    &-img2n1 {
      max-width: 80%;
      display: flex;
      margin-left: auto;
    }
  }

  &__review {
    border: 3px solid white;
    max-width: 1100px;

    &-img {
      width: 50%;
    }
  }

  &__mobileApp {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 15%;
    text-align: center;

    & img {
      padding-left: 10px;
    }
  }

  &__partners {
    margin-bottom: 200px;

    li {
      margin: auto;
      color: white;
    }
  }
}

ul {
  list-style-type: none;
}

</style>
