<template>
  <div>
    <div class="red--text text-center" v-if="!$auth.loggedIn">Unauthorized</div>
    <div v-if="$auth.loggedIn" class="profile">
      <div class="profile__photo"
           data-aos="zoom-out-up"
           data-aos-duration="1500"
      >
        <v-img
          v-if="$auth.user.image"
          :src="this.$axios.defaults.baseURL + $auth.user.image"
          class="profile__photo-img"
          height="300px"
        >
        </v-img>
        <div v-if="!$auth.user.image" class="profile__photo__notAuth pa-1">
          <v-img class="profile__photo__notAuth-img" alt="logo" src="/image/navbar/user.svg"/>
        </div>
        <v-file-input
          v-model="image"
          @change="newUserImage()"
          class="profile__photo-input"
          accept="image/*"
          label="File input"
          type="file"
          hide-input
        >
        </v-file-input>
      </div>

      <div data-aos="flip-left" data-aos-duration="1500">
        <div class="mt-6">
          <span class="red--text">Username:</span>
          {{ $auth.user.username }}
        </div>
        <div><span class="red--text">Email:</span> {{ $auth.user.email }}</div>
      </div>

      <div data-aos="fade-up" data-aos-duration="1500">
        <div class="profile__password">
          <span class="red--text">Change password</span>
          <div class="mt-5">Old password:&nbsp;
            <input
              v-model="oldPassword"
              type="password"
              class="profile__password-input"
            />
          </div>

          <div class="mt-5">New password:&nbsp;
            <input
              v-model="newPassword"
              class="profile__password-input"
              type="password"
            />
          </div>

          <v-btn
            @click="changePassword()"
            class="profile__password-btn"
            outlined
          >
            Change password
          </v-btn>

          <div class="mt-5" v-if="errorMessage">
            <span class="red--text">Error:</span> {{ errorMessage }}
          </div>

          <div
            v-if="successChangePassword"
            class="green--text mt-5"
          >
            Password successfully changed!
          </div>

        </div>
        <v-btn
          @click="logout()"
          class="green--text mt-5"
          outlined
        >logout
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "profile",
  layout: 'board',

  data: () => ({
    errorMessage: "",
    oldPassword: "",
    newPassword: "",
    successChangePassword: false,
    image: null,
  }),

  methods: {
    changePassword() {
      if (!this.oldPassword.length || !this.newPassword.length) {
        this.errorMessage = ['Empty field!']
        return null
      }
      this.$axios
        .patch("/api/users/updatePassword", {
          old_password: this.oldPassword,
          new_password: this.newPassword
        })
        .then((resp) => {
          this.errorMessage = []
          this.successChangePassword = true
        })
        .catch((resp) => {
          this.successChangePassword = false
          this.errorMessage = [resp.response.data.message]
        })
    },

    newUserImage() {
      let formData = new FormData()
      formData.append("image", this.image)

      this.$axios
        .post("/api/users/image", formData)
        .then((resp) => {
          this.$axios
            .post("/api/auth/me")
            .then((resp) => {
              this.errorMessage = null
              this.$auth.setUser(resp.data)
            })
        })
        .catch((err) => {
          this.errorMessage = err.response.data.message
        })
    },

    logout() {
      this.$auth.logout()
      this.$router.push('/')
    },
  },
}
</script>

<style lang="scss" scoped>
.profile {
  text-align: center;
  font-size: 20px;

  &__photo {
    display: flex;
    justify-content: center;

    &__notAuth {
      border: 1px solid white;
      border-radius: 500px;
      width: 250px;
      height: 250px;

      &-img {
        border-bottom-right-radius: 120px;
        border-bottom-left-radius: 120px;
      }
    }

    &-img {
      max-width: 300px;
      border-radius: 150px;
    }

    &-input {
      position: absolute;

      ::v-deep {
        button {
          color: black;
        }
      }
    }
  }

  &__password {
    margin-top: 75px;
    font-size: 20px;

    &-btn {
      margin-top: 15px;

      &:hover {
        color: red;
      }
    }

    &-input {
      background-color: white;
      border-radius: 10px;
      padding: 0 10px;
    }
  }
}
</style>
