<template>
  <div class="board">
    <div v-if="!$auth.loggedIn" class="red--text">Unauthorized</div>
    <div v-if="$auth.loggedIn">
      <BoardSettings
        v-if="settingsWindow"
        @closeSettings="settingsWindow = false"
        class="settings mt-3"
      />
      <div class="board__columns mr-0">
        <draggable
          @end="endDrag($event)"
          class="board__column"
        >
          <Column
            v-for="column in sortedColumns"
            @taskDetailsToggle="taskDetails"
            :key="column.id"
            :column="column"
            data-aos="zoom-in"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1000"
          />
        </draggable>

        <div class="board__buttons d-flex flex-wrap pr-5">
          <div class="mt-10">
            <v-btn outlined color="indigo" @click="newColumn">
              + Add new column
            </v-btn>

            <v-btn @click="settingsWindow = !settingsWindow" class="d-block mt-10" outlined color="indigo" >
              <v-img
                src="/image/board/settings.svg"
                alt="del"
                width="20px"
                height="20px"
              />
              &nbsp;Settings
            </v-btn>
          </div>
        </div>
      </div>
      <AboutDialog v-if="emptyColumns"/>
      <TaskDetails
        v-if="showTaskInfo"
        @closeTask="showTaskInfo = false"
        :task="task"
        class="board__taskDetails"
      />
    </div>
  </div>
</template>

<script>
import AboutDialog from '@/components/AboutDialog.vue'
import Column from '@/components/Column.vue'
import draggable from "vuedraggable"
import BoardSettings from '@/components/BoardSettings'
import TaskDetails from '@/components/TaskDetails'
import {mapGetters, mapActions} from 'vuex'

export default {
  name: "_id",
  layout: 'board',

  data() {
    return {
      task: [],
      emptyColumns: false,
      showTaskInfo: false,
      settingsWindow: false,
    }
  },
  components: {
    AboutDialog,
    Column,
    draggable,
    BoardSettings,
    TaskDetails,
  },

  mounted() {
    const id = +this.$route.params['id']
    this.getBoard(id)
  },

  computed: {
    ...mapGetters({board: 'getBoard'}),

    sortedColumns() {
      if (!this.board.columns) {
        return []
      }

      const arr = [...this.board.columns]
      return arr.sort((a, b) => {
        if (a.position > b.position) return 1
        if (a.position < b.position) return -1
        return 0
      })
    },
  },

  methods: {
    ...mapActions([
      'getBoard',
      'addColumn',
      'draggableColumn'
    ]),

    taskDetails(task) {
      this.showTaskInfo = !this.showTaskInfo
      this.task = task
    },

    newColumn() {
      let maxColumnPosition = 0
      for (let i = 0; i < this.board.columns.length; i++) {
        if (this.board.columns[i].position > maxColumnPosition) {
          maxColumnPosition = this.board.columns[i].position
        }
      }
      this.emptyColumns = false

      let newColumn = {
        title: "New Column",
        position: maxColumnPosition + 1,
        board_id: this.board.id
      }

      this.addColumn(newColumn)
    },

    endDrag(event) {
      if (event.oldIndex !== event.newIndex) {
        let data = {
          'newPosition': this.sortedColumns[event.newIndex].position,
          'columnId': this.sortedColumns[event.oldIndex].id,
        }

        this.draggableColumn(data)
      }
    },
  },
}
</script>

<style scoped lang="scss">
@media (max-width: 600px) {
  .board {
    padding-left: 0;

    &__column {
      display: block !important;
      margin-left: 6%;
      margin-right: 6%;
    }

    &__columns {
      display: block !important;
      margin-bottom: 100px;
    }

    &__buttons {
      justify-content: center;
    }
  }
}

.board {
  padding-left: 20px;

  &__taskDetails {
    position: absolute;
    z-index: 1;
    width: 800px;
    top: 1%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__columns {
    display: flex;
    flex-wrap: nowrap;
  }

  &__column {
    display: flex;
  }
}

.settings {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 350px;
}
</style>
