<template>
  <div class="px-12 pt-2">
    <div v-if="!$auth.loggedIn" class="red--text d-flex justify-center">
      Please login
    </div>

    <div v-if="$auth.loggedIn" data-aos="zoom-out-down" data-aos-duration="2000">
      <v-btn outlined color="indigo" @click="showNewBoardWindow = !showNewBoardWindow" class="board__button">
        + Create new board
      </v-btn>

      <div class="board">
        <Board
          v-for="(board, idx) in boardList" :key="board.id"
          @click.native="$router.push('/boards/' + board.id)"
          :boardIndex="idx"
          class="board__component"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
        />

        <v-form
          v-if="showNewBoardWindow"
          class="board__create"
          lazy-validation
        >
          <v-text-field
            v-model="boardName"
            @keydown.enter.prevent="newBoard"
            :counter="255"
            :rules="nameRules"
            class="ma-3"
            label="Board name"
            required
          ></v-text-field>

          <v-btn
            @click="newBoard"
            class="mr-4 ml-4 mb-5"
            color="error"
          >
            Create
          </v-btn>

          <v-btn @click="showNewBoardWindow = false" class="mb-5">
            Cancel
          </v-btn>
        </v-form>
      </div>
    </div>
  </div>
</template>

<script>
import Board from '@/components/Board.vue'
import {mapGetters, mapActions} from 'vuex'

export default {
  name: "index",
  layout: 'board',

  data() {
    return {
      boardName: '',
      showNewBoardWindow: false,
      nameRules: [
        v => !!v || 'Board name is required',
        v => (v && v.length <= 255) || 'Board name must be less than 255 characters',
      ],
    }
  },

  components: {
    Board
  },

  mounted() {
    if (this.$auth.loggedIn) {
      this.getBoardList()
    }
  },

  computed: mapGetters({boardList: 'getBoardList'}),

  methods: {
    ...mapActions([
      'getBoardList',
      'createBoard'
    ]),


    newBoard() {
      this.createBoard(this.boardName)
        .then(() => {
          this.showNewBoardWindow = false
          this.boardName = ''
        })
    },
  }
}
</script>

<style scoped lang="scss">

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2.9%;
  justify-content: center;


  &__component {
    margin-right: 2%;
    margin-bottom: 2%;
    cursor: pointer;
  }

  &__button {
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  &__create {
    max-height: 150px;
    min-width: 20%;
    position: absolute;

    background-color: black;
    border: 5px solid white;
  }
}

</style>
